<footer class="bg-red-700 text-white text-center py-5">
    <h4 class="font-bold mb-3 text-xl">SINAR PVC</h4>
    <address class="block mb-5">
        Ruko Puri Niaga No. A7<br>
        Jl. Inspeksi Kalimalang, Setiadarma, Tambun Selatan<br>
        Bekasi - Jawa Barat, Telp: 0878-4468=5818
    </address>
    <a 
        class="inline-block bg-green-700 text-white py-2 px-3 rounded-lg shadow-xl mb-5 text-lg font-bold" 
        href="https://wa.me/6287844685818" 
        target="_blank"
    >
    <i class="bi bi-whatsapp me-2"></i> +62 878 4468 5818
    </a>
    <p>&copy; {{ now.Year }} Sinar PVC. All Rights Reserved.</p>
</footer>