<!-- Navigation Bar -->
<nav class="bg-red-700 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <a href='{{ "/" | relURL }}' class="text-xl font-bold">Sinar PVC</a>
            </div>
            <!-- Menu Toggle (Mobile) -->
            <div class="md:hidden">
                <button id="menu-toggle" class="text-white hover:text-white focus:outline-none">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
                </button>
            </div>
            <!-- Links -->
            <div class="hidden md:flex space-x-4">
                <a href='{{ "/" | relURL }}' class="hover:bg-red-900 transition duration-400 ease-in-out px-3 py-2 rounded">Home</a>
                <a href='{{ "/articles/" | relURL }}' class="hover:bg-red-900 transition duration-400 ease-in-out px-3 py-2 rounded">Articles</a>
                <a href='{{ "/products/" | relURL }}' class="hover:bg-red-900 transition duration-400 ease-in-out px-3 py-2 rounded">Products</a>
            </div>            
        </div>
    </div>
    <!-- Mobile Menu -->
    <div id="mobile-menu" class="md:hidden hidden px-4 space-y-2 pb-3">
        <a href='{{ "/" | relURL }}' class="block bg-red-900 px-3 py-2 rounded">Home</a>
        <a href='{{ "/articles/" | relURL }}' class="block bg-red-900 px-3 py-2 rounded">Articles</a>
        <a href='{{ "/products/" | relURL }}' class="block bg-red-900 px-3 py-2 rounded">Products</a>
    </div>
</nav>